<%# when user click on Read more button this file is used to display post title and content into single page%>
<%- include("partials/header"); -%>


    <h1><%=title%></h1>
    <p><%=content%></p>



<%- include("partials/footer"); -%>
